/langchain/models
/langchain/__pycache__
/langchain/config/__pycache__
/langchain/modules/__pycache__
/langchain/pipelines//__pycache__
/langchain/utils/__pycache__
/llama_models/ko_en
/llama_models/en_ko
/milvus
/volumes
/docker-compose_only_ollama_langchain.txt
langchain/pipelines/__pycache__/content_chain.cpython-39.pyc
langchain/script/__pycache__/__init__.cpython-39.pyc
langchain/script/__pycache__/prompt.cpython-39.pyc
llama_models/llama-3.2-Korean-Bllossom-3B-gguf-Q4_K_M.gguf
llama_models/Modelfile
ollama/llama-3.2-Korean-Bllossom-3B-gguf-Q4_K_M.gguf
ollama/Safetensor_Modelfile
ollama/safetensor/config.json
ollama/safetensor/generation_config.json
ollama/safetensor/model-00001-of-00002.safetensors
ollama/safetensor/model-00002-of-00002.safetensors
ollama/safetensor/model.safetensors.index.json
ollama/safetensor/special_tokens_map.json
ollama/safetensor/tokenizer_config.json
ollama/safetensor/tokenizer.json
kompose.exe
Langchain.zip
kubernetes/ollama/deployment.yaml
kubernetes/ollama/service.yaml
